@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

*{
    font-family: 'Merienda', cursive;
}

.myName {
    font-family: 'Dancing Script', cursive;
}

.helloWorld {
    font-family: 'Inconsolata', monospace;
}

.app-container {
    /* Add your main app styles here */
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    /* Add a smooth transition effect */
}

.app-container.loading {
    opacity: 0;
}